In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\konst\Downloads\public_flights_export_2025-10-26_210236.csv")
df

,trip_id,origin_airport,destination,destination_airport,seats,return_flight_booked,departure_time,return_time,checked_bags,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd
0,487529-2312f3154b1040f49f7011e98dd602c4,LUF,vancouver,YVR,1,True,2023-01-01 15:00:00,2023-01-07 15:00:00,0,Delta Air Lines,49.195,-123.182,304.84
1,487530-b922a53e150f4d6786551201a50354f0,JFK,fresno,FAT,1,True,2023-01-01 13:00:00,2023-01-04 13:00:00,1,Alaska Airlines,36.776,-119.718,728.25
2,487531-0ef6ac08b809485fb8e7856ffdf49c20,YEG,toronto,YZD,1,True,2023-01-02 07:00:00,2023-01-05 07:00:00,0,American Airlines,43.862,-79.370,524.69
3,487533-6f4b07975a0946b28d4e3ab6dc65912b,SKF,chicago,ORD,1,True,2022-12-31 08:00:00,2023-01-12 08:00:00,1,Air Canada,41.786,-87.752,290.56
4,487534-3e2cb1c8155241068975d689f4085fdf,LAX,chicago,MDW,1,True,2023-01-05 14:00:00,2023-01-07 14:00:00,0,Porter Airlines,41.786,-87.752,495.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1901033,487519-c371342c37ca40eaa99414d80e2d139f,MDW,los angeles,LAX,2,True,2023-05-14 07:00:00,2023-05-28 07:00:00,1,United Airlines,33.942,-118.408,917.83
1901034,487524-8ab2cd55751a451196e310ac476964df,YKZ,boston,BOS,1,False,2022-12-30 09:00:00,NaN,1,JetBlue Airways,42.364,-71.005,62.33
1901035,487525-0ed54fadfc7b41f1ad8b44ee20e3ee98,YMX,san jose,SJO,1,False,2023-01-04 12:00:00,NaN,0,Delta Air Lines,37.362,-121.929,355.75
1901036,487526-40f65ca4299641418d5de84df0d28e46,ATL,las vegas,LSV,2,True,2023-03-19 22:00:00,2023-04-01 22:00:00,1,American Airlines,36.080,-115.152,898.99
1901037,487528-9e7cb7361fd24e999fd15500b5125f85,IND,phoenix,LUF,1,True,2022-12-30 13:00:00,2023-01-05 13:00:00,2,United Airlines,33.535,-112.383,433.49

In [6]:
df = df.drop_duplicates()
df

,trip_id,origin_airport,destination,destination_airport,seats,return_flight_booked,departure_time,return_time,checked_bags,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd
0,487529-2312f3154b1040f49f7011e98dd602c4,LUF,vancouver,YVR,1,True,2023-01-01 15:00:00,2023-01-07 15:00:00,0,Delta Air Lines,49.195,-123.182,304.84
1,487530-b922a53e150f4d6786551201a50354f0,JFK,fresno,FAT,1,True,2023-01-01 13:00:00,2023-01-04 13:00:00,1,Alaska Airlines,36.776,-119.718,728.25
2,487531-0ef6ac08b809485fb8e7856ffdf49c20,YEG,toronto,YZD,1,True,2023-01-02 07:00:00,2023-01-05 07:00:00,0,American Airlines,43.862,-79.370,524.69
3,487533-6f4b07975a0946b28d4e3ab6dc65912b,SKF,chicago,ORD,1,True,2022-12-31 08:00:00,2023-01-12 08:00:00,1,Air Canada,41.786,-87.752,290.56
4,487534-3e2cb1c8155241068975d689f4085fdf,LAX,chicago,MDW,1,True,2023-01-05 14:00:00,2023-01-07 14:00:00,0,Porter Airlines,41.786,-87.752,495.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1901033,487519-c371342c37ca40eaa99414d80e2d139f,MDW,los angeles,LAX,2,True,2023-05-14 07:00:00,2023-05-28 07:00:00,1,United Airlines,33.942,-118.408,917.83
1901034,487524-8ab2cd55751a451196e310ac476964df,YKZ,boston,BOS,1,False,2022-12-30 09:00:00,NaN,1,JetBlue Airways,42.364,-71.005,62.33
1901035,487525-0ed54fadfc7b41f1ad8b44ee20e3ee98,YMX,san jose,SJO,1,False,2023-01-04 12:00:00,NaN,0,Delta Air Lines,37.362,-121.929,355.75
1901036,487526-40f65ca4299641418d5de84df0d28e46,ATL,las vegas,LSV,2,True,2023-03-19 22:00:00,2023-04-01 22:00:00,1,American Airlines,36.080,-115.152,898.99
1901037,487528-9e7cb7361fd24e999fd15500b5125f85,IND,phoenix,LUF,1,True,2022-12-30 13:00:00,2023-01-05 13:00:00,2,United Airlines,33.535,-112.383,433.49

In [12]:
df["trip_airline"] = df["trip_airline"].str.replace("Air Lines","Airlines", regex=False)
df

,trip_id,origin_airport,destination,destination_airport,seats,return_flight_booked,departure_time,return_time,checked_bags,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd
0,487529-2312f3154b1040f49f7011e98dd602c4,LUF,vancouver,YVR,1,True,2023-01-01 15:00:00,2023-01-07 15:00:00,0,Delta Airlines,49.195,-123.182,304.84
1,487530-b922a53e150f4d6786551201a50354f0,JFK,fresno,FAT,1,True,2023-01-01 13:00:00,2023-01-04 13:00:00,1,Alaska Airlines,36.776,-119.718,728.25
2,487531-0ef6ac08b809485fb8e7856ffdf49c20,YEG,toronto,YZD,1,True,2023-01-02 07:00:00,2023-01-05 07:00:00,0,American Airlines,43.862,-79.370,524.69
3,487533-6f4b07975a0946b28d4e3ab6dc65912b,SKF,chicago,ORD,1,True,2022-12-31 08:00:00,2023-01-12 08:00:00,1,Air Canada,41.786,-87.752,290.56
4,487534-3e2cb1c8155241068975d689f4085fdf,LAX,chicago,MDW,1,True,2023-01-05 14:00:00,2023-01-07 14:00:00,0,Porter Airlines,41.786,-87.752,495.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1901033,487519-c371342c37ca40eaa99414d80e2d139f,MDW,los angeles,LAX,2,True,2023-05-14 07:00:00,2023-05-28 07:00:00,1,United Airlines,33.942,-118.408,917.83
1901034,487524-8ab2cd55751a451196e310ac476964df,YKZ,boston,BOS,1,False,2022-12-30 09:00:00,NaN,1,JetBlue Airways,42.364,-71.005,62.33
1901035,487525-0ed54fadfc7b41f1ad8b44ee20e3ee98,YMX,san jose,SJO,1,False,2023-01-04 12:00:00,NaN,0,Delta Airlines,37.362,-121.929,355.75
1901036,487526-40f65ca4299641418d5de84df0d28e46,ATL,las vegas,LSV,2,True,2023-03-19 22:00:00,2023-04-01 22:00:00,1,American Airlines,36.080,-115.152,898.99
1901037,487528-9e7cb7361fd24e999fd15500b5125f85,IND,phoenix,LUF,1,True,2022-12-30 13:00:00,2023-01-05 13:00:00,2,United Airlines,33.535,-112.383,433.49